.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main h2 {
  padding-top: 116px;
  font-size: 88px;
}

.job-title {
  color: #6de754;
}

.postjob-title {
  color: #ffffff;
}

.separator {
  display: flex;
  width: 11px;
  height: 26px;
  background-color: #d9d9d9;
  margin-top: 50px;
  margin-bottom: 109px;
}

.postjob-description {
  line-height: 24px;
  font-weight: 400;
}
